@font-face {
    font-family: "Micro5";
    src: url("./assets/Micro5.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BodoniModa";
    src: url("./assets/BodoniModa.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu_Light_italic";
    src: url("./assets/Ubuntu_Light_italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OoohBaby";
    src: url("./assets/OoohBaby.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#viewport{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#f1_img{
    background-color: black;
    border: 2px solid white;
}

#f1_img_border{
    background-color: black;
    border: 2px solid white;
}

#f1_title{
    font-family: "OoohBaby", sans-serif;
    color: white;
}

#f1_name{
    font-family: "BodoniModa", sans-serif;
    color: white;
}

#f1_desc{
    font-family: "Ubuntu_Light_italic", sans-serif;
    color: white;
}

#f1_cap{
    font-family: "OoohBaby", sans-serif;
    color: white;
}

#f1_quote{
    font-family: "OoohBaby", sans-serif;
    color: white;
}

#menu{
    background-color: black;
    color: white;
    border: 2px solid white;
}

.menu_i{
    font-family: 'Micro5', sans-serif;
    color: white;
}

#f1_scroll{
    background-color: black;
    width: 100%;
    height: 100%;
}

#f2_scroll{
    background-color: black;
    width: 100%;
    height: 100%;
}

#f3_scroll{
    background-color: black;
    width: 100%;
    height: 100%;
}

#f4_scroll{
    background-color: black;
    width: 100%;
    height: 100%;
}

#f5_scroll{
    background-color: black;
    width: 100%;
    height: 100%;
}

#f2_title{
    opacity: 0;
    font-family: "OoohBaby", sans-serif;
    color: white;
}

#f2_desc1{
    opacity: 0;
    font-family: "BodoniModa", sans-serif;
    color: white;
}

#f2_desc2{
    opacity: 0;
    font-family: "BodoniModa", sans-serif;
    color: white;
}

#f2_desc3{
    opacity: 0;
    font-family: "BodoniModa", sans-serif;
    color: white;
}

#f2_arrow_text{
    opacity: 0;
    font-family: "OoohBaby", sans-serif;
    color: white;
}

#f2_arrow{
    opacity: 0;
}

.f2_font_ob{
    font-family: "OoohBaby", sans-serif;
    color: white;
    text-decoration: none;
}

#f3_title{
    opacity: 0;
    font-family: "Micro5", sans-serif;
    color: white;
}

#f3_name{
    opacity: 0;
    text-decoration: none;
    font-family: "BodoniModa", sans-serif;
    color: white;
}

#f3_desc1{
    opacity: 0;
    font-family: "OoohBaby", sans-serif;
    color: white;
}

#f3_desc2{
    opacity: 0;
    font-family: "OoohBaby", sans-serif;
    color: white;
}

#f3_desc3{
    opacity: 0;
    font-family: "OoohBaby", sans-serif;
    color: white;
}

#f3_img1{
    /* opacity: 0; */
    background-color: black;
    color: white;
    border: 2px solid white;
}

#f3_img2{
    /* opacity: 0; */
    background-color: black;
    color: white;
    border: 2px solid white;
}

#f3_img3{
    /* opacity: 0; */
    background-color: black;
    color: white;
    border: 2px solid white;
}

#f3_arrow_text{
    opacity: 0;
    font-family: "OoohBaby", sans-serif;
    color: white;
}

#f3_arrow{
    opacity: 0;
}

#f4_title{
    opacity: 0;
    font-family: "OoohBaby", sans-serif;
    color: white;
}

.f4_img{
    opacity: 0;
    background-color: black;
    color: white;
    border: 2px solid white;
}

#f5_title{
    opacity: 0;
    font-family: "OoohBaby", sans-serif;
    color: white;
}

.menu_i:hover{
    background-color: rgb(20, 20, 20);
}

#menu_sel{
    background-color: white;
    mix-blend-mode: difference;
}

.f2_link{
    opacity: 0;
}

#warn{
    opacity: 0.5;
    font-family: "Ubuntu_Light_italic", sans-serif;
    color: white;
}

#warn_in{
    color: red;
}
